.root {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 10px 0;
}

.list {
	list-style: none;
	padding: 0;
}

.listItem {
	line-height: 1.4;
	font-size: 20px;
	opacity: 0.9;
	max-width: 800px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listItemSubText {
	font-size: 14px;
	text-align: justify;
	line-height: 1.4;
	max-width: 600px;
}

.listItem:first-child {
	font-weight: 700;
	font-size: 40px;
}

.link {
	color: white;
}

.link:hover {
}
