.root {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	margin-bottom: 25px;
}

.list {
	list-style: none;
	padding: 0;
}

.listItem {
	line-height: 1.4;
	font-size: 20px;
	opacity: 0.9;
	max-width: 800px;
	text-align: center;
}

.listItem:first-child {
	font-weight: 700;
	font-size: 40px;
}
