.root {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	margin-bottom: 25px;
}

.text {
	line-height: 1.5;
	font-size: 20px;
}

.link {
	color: white;
}

.email {
	color: white;
}
