.mainTitle {
	color: white;
	font-weight: 600;
	text-decoration: none;
	font-size: 18px;
}

.titlebar {
	background: #000;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	position: fixed;
	z-index: 1000;
	top: 0;
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.titlebarLogo {
	width: 40px;
	margin-right: 20px;
	margin-left: 10px;
}

.titlelink {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}
