.root {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.dates {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-size: 20px;
}

.content {
	padding: 100px 0 0 0;
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("./assets/wood.jpg");
	background-size: cover;
}

.sectiontitle {
	font-size: 30px;
	/* color: white; */
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
	width: 100%;
	max-width: 600px;
}

.deckel {
	width: 500px;
}
